{% extends 'base.html.twig' %}

{% block title %}LADOUDOUNE{% endblock %}

{% block nav %}
    <header>
        <div id="header">
            <a id="logotitre">
                <h1>
                    LADOUDOUNE
                </h1>
            </a>
        </div>

        <nav id="test">
            <a id="logotitre">
                <h3 id="ladoudouneNav">
                    LADOUDOUNE
                    <img id="logoImage" src="images/580b585b2edbce24c47b2646.png" class="d-inline-block align-top" alt="">
                </h3>
            </a>
        </nav>
        <nav>
            <a href="{{ path('default') }}"><h5>Accueil</h5></a>
            <a href="{{ path('besoins') }}"><h5>Vos besoins</h5></a>
            <a href="{{ path('services') }}"><h5>Nos services</h5></a>
            <a href="{{ path('blog') }}"><h5>Le saviez-vous ?</h5></a>
            <a href="{{ path('nous') }}"><h5>Nous connaître</h5></a>
            <a href="{{ path('contact') }}"><h5>Nous contacter</h5></a>
        </nav>
    </header>
{% endblock nav %}


{% block accueil %}
    <div class="row" id="texteTransition">
        <div class="col col-4">
            <div class="text">
                <p id="phraseAccroche">L'agence web qui prend soin des</p><br>
                    <p>
                        <span class="word couleur1">Indépendants.</span>
                        <span class="word couleur2">Artisans.</span>
                        <span class="word couleur3">Particuliers.</span>
                        <span class="word couleur4">Collectivités.</span>
                        <span class="word couleur5">TPE/PME.</span>
                    </p>
            </div>
        </div>
        
        <div class="col col-8">
            <section id="slideshow">
		
                <div class="container">
                    <div class="c_slider"></div>
                    <div class="slider">
                        
                        <figure>
                            <img src="images/blog/Nice_to_meet_you.png" alt="" width="640" height="310" />
                            <!-- <figcaption>The mirror of soul</figcaption> -->
            
                        </figure><!--
                        --><figure>
                            <img src="images/blog/responsive.jpg" alt="" width="640" height="310" />
                            <!-- <figcaption>Let's cross that bridge when we come to it</figcaption> -->
                        </figure><!--
                        --><figure>
                            <img src="images/blog/social.jpeg" alt="" width="640" height="310" />
                            <!-- <figcaption>Sushi<em>(do)</em> time</figcaption> -->
            
                        </figure><!--
                        --><figure>
                            <img src="images/mail/nordwood-themes-EZSm8xRjnX0-unsplash.jpg" alt="" width="640" height="310" />
                            <!-- <figcaption>Waking Life</figcaption> -->
                        </figure><!--
                        --><figure>
                            <img src="images/open/geoffroy-delobel-_SPZ5zVjmSw-unsplash.jpg" alt="" width="640" height="310" />
                            <!-- <figcaption>Waking Life</figcaption> -->
                        </figure>
                    </div>
                </div>
                <span id="timeline"></span>
            </section>
        </div>
    </div> 

    <div class="row">
        <div class="col col-3">
            <p>jdsvsduivhsivniksjvjijsvks,dvjjv </p>
        </div>

    </div>
{% endblock accueil %}
