{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {{ form_row(form.image) }}
    {{ form_row(form.newImage) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.contenu) }}
    {{ form_row(form.date_parution) }}
    {{ form_row(form.fkCategorie) }}
    {# <ul>
      <li> 
        {% for categoriefield in form.fkCategorie %}
          <li> 
          {# dump(categoriefield); #}
            {# {{ form_row(categoriefield.nom) }} #}
          {# </li>
        {% endfor %} #}
    {#</ul> #}
  {# <a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a> #}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
